@import "tailwindcss";

.container {
  width: 80%;
  margin: 0px auto;
}

.padTop {
  padding: 50px 0px;
}

body {
  background: linear-gradient(to right, #c3e3fa, #e7c7cd);
}

.text {
  color: #858591;
}

.heading_content {
  display: block;
  margin: 0px auto;
}

@media (max-width: 767.98px) {
  .inline {
    display: none;
  }

  .container {
    width: 90%;
  }
}
