@import "tailwindcss";

.container {
  width: 80%;
  margin: 0px auto;
}

.padTop {
  padding: 50px 0px;
}

body,
.header {
  background: linear-gradient(to right, #c3e3fa, #e7c7cd);
}


.text {
  color: #858591;
}

.heading_content {
  display: block;
  margin: 0px auto;
}

.mobileApp {
  background-image: url("../public/images/layer\ 2.png"), url("../public/images/layer\ 4.png");
  background-repeat: no-repeat;
  background-size: 10%, 40%;
  background-position: left top, right bottom;
}

.AI {
  background-image: url("../public/images/layer\ 5.png"), url("../public/images/layer\ 4.png");
  background-repeat: no-repeat;
  background-size: 10%, 32%;
  background-position: left top, right bottom;
}

.Website {
  background-image: url("../public/images/layer\ 3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.teams {
  background-image: url("../public/images/teambg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.junior {
  background-image: url("../public/images/member.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.cards {
  background-image: url("../public/images/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.LsContent {
  background-image: url("../public/images/last.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}


/* /// about  */
.cardAbout {
  display: block;
  margin: 0px auto;
}

.line::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 20px;
  top: 24px;
  bottom: 0px;
  height: 1px;
  left: 12px;
}

.titleCase::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 13px;
  z-index: -1;
}

@media (max-width: 767.98px) {
  .inline {
    display: none;
  }

  .container {
    width: 90%;
  }
}