@import "tailwindcss";

.container {
  width: 80%;
  margin: 0px auto;
}

.padTop {
  padding: 50px 0px;
}

body,
.header {
  background: linear-gradient(to right, #eaf4fc, #f9e5e8);
  user-select: none;
}

img {
  pointer-events: none;
}


/* .shade {
  background-image: url("/images/unitree/Vector 4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 105%;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 360px;
} */

/* style={{
  backgroundImage: "url('/images/unitree/Vector 4.png')",
  backgroundRepeat: "no-repeat",
  backgroundPosition: "center",
  backgroundSize: "105%",
  position: "absolute",
  left: "0px",
  right: "0",
  height: "360px",
}}  */


/* @keyframes colorChange {
  0% {
    background-color: #eaf4fc;
  }
  50% {
    background-color: #f9e5e8;
  }
  100% {
    background-color: #eaf4fc;
  }
}


.hero_section, .header {
  animation: colorChange 7s infinite linear;
} */

.lines {
  color: #858591;
}

.heading_content {
  display: block;
  margin: 0px auto;
}


/* /// about  */
.cardAbout {
  display: block;
  margin: 0px auto;
}

.line::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 20px;
  top: 24px;
  bottom: 0px;
  height: 1px;
  left: 12px;
}

/* .lines::before {
  content: "";
  position: absolute;
  background: #000;
  width: 20px;
  top: 30px;
  bottom: 0px;
  height: 1px;
  left: 12px;
} */

.titleCase::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 13px;
  z-index: -1;
}

/* .headingBorder::after {
  content: "";
  width: 230px;
  background: #6A67D2;
  position: absolute;
  height: 3px;
  left: 0px;
  bottom: 0px;
} */

/* .access::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #6a67d2;
  position: absolute;
  top: 0px;
  bottom: 0px;
} */

.audience::after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url("/images/vherk/Hat.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -96px;
  top: -84px;
}

@media (max-width : 767.98px) {
  .audience::after {
    display: none;
  }
}

/* // testimonial  */
.PicTestimonial .swiper-slide.swiper-slide-next {
  transform: scale(1.3);
}

.swiper {
  padding: 80px 0px !important;
}

.PicTestimonial .testSlider {
  overflow: hidden;
  height: 250px;
  border-radius: 30px;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Default Mobile: Show 1 item */
.animate-marquee {
  display: flex;
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  animation: marquee-reverse 25s linear infinite;
}

.testimonial-box {
  min-width: 300px;
}

/* Tablet (≥ 641px & ≤ 1024px) → Show 2 items */
@media (min-width: 641px) {
  .testimonial-box {
    min-width: 400px;
  }

  .animate-marquee {
    animation-duration: 75s;
  }

  .animate-marquee-reverse {
    animation-duration: 75s;
  }
}

/* Desktop (≥ 1025px) → Show 3 items */
@media (min-width: 1025px) {
  .testimonial-box {
    min-width: 500px;
  }

  .animate-marquee {
    animation-duration: 75s;
  }

  .animate-marquee-reverse {
    animation-duration: 75s;
  }
}

@media (max-width: 767.98px) {
  .inline {
    display: none;
  }

  .container {
    width: 90%;
  }
}

/* button animations */

.box {
  --border-angle: 0deg;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  animation: border-angle-rotate 2s infinite linear;
  border: 2px solid transparent;
  position: relative;
}

.box.b {
  background: linear-gradient(#eaf4fc, #f9e5e8) padding-box,
    conic-gradient(from var(--border-angle),
      var(--bg) 50%,
      #ff0164) border-box;
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }

  to {
    --border-angle: 360deg;
  }
}

/** Boilerplate **/
body {
  --bg: hsl(190deg 20% 10%);
  place-content: center;
  background: linear-gradient(to right, #eaf4fc, #f9e5e8);
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}