@import "tailwindcss";

.container {
  width: 80%;
  margin: 0px auto;
}

.padTop {
  padding: 50px 0px;
}



@keyframes colorChange {
  0% {
    background-color: #c3e3fa;
  }
  50% {
    background-color: #e7c7cd;
  }
  100% {
    background-color: #c3e3fa;
  }
}

body, .header {
  animation: colorChange 7s infinite linear;
}

.text {
  color: #858591;
}

.heading_content {
  display: block;
  margin: 0px auto;
}


/* /// about  */
.cardAbout {
  display: block;
  margin: 0px auto;
}

.line::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 20px;
  top: 24px;
  bottom: 0px;
  height: 1px;
  left: 12px;
}

.lines::before {
  content: "";
  position: absolute;
  background: #000;
  width: 20px;
  top: 30px;
  bottom: 0px;
  height: 1px;
  left: 12px;
}

.titleCase::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 13px;
  z-index: -1;
}

/* // testimonial  */
.PicTestimonial .swiper-slide.swiper-slide-next {
  transform: scale(1.3);
}

.PicTestimonial .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding: 80px 0px !important;
}

.PicTestimonial .testSlider {
  overflow: hidden;
  height: 210px;
  border-radius: 30px;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Default Mobile: Show 1 item */
.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  animation: marquee-reverse 15s linear infinite;
}

.testimonial-box {
  min-width: 300px;
}

/* Tablet (≥ 641px & ≤ 1024px) → Show 2 items */
@media (min-width: 641px) {
  .testimonial-box {
    min-width: 400px;
  }

  .animate-marquee {
    animation-duration: 20s;
  }

  .animate-marquee-reverse {
    animation-duration: 20s;
  }
}

/* Desktop (≥ 1025px) → Show 3 items */
@media (min-width: 1025px) {
  .testimonial-box {
    min-width: 500px;
  }

  .animate-marquee {
    animation-duration: 25s;
  }

  .animate-marquee-reverse {
    animation-duration: 25s;
  }
}


@media (max-width: 767.98px) {
  .inline {
    display: none;
  }

  .container {
    width: 90%;
  }
}

